<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
  <body>
    <h1>Detalle de <%= resources.name %></h1>
    <h3><%= resources.name %></h3>
    <ul>
      <% for(let i = 0; i < resources.stats.length; i++) { %>
        <li><%= resources.stats[i].base_stat %> | <%= resources.stats[i].stat.name %></li>
      <% } %>
    </ul>
    <img src="<%= resources.sprites.other.home.front_default %>" alt="Pokemon <%= resources.name %>">
    <a href="/">back</a>
  </body>
</html>