<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    #pokemonChart {
      max-width: 600px;
      max-height: 600px;
    }
    
   .container{
display: flex;
align-items: center;
flex-direction: column;
    }
    
      .content{
display: flex;
flex-direction: row;
align-content: flex-start;
justify-content: space-around;
align-items: center;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="navbar">
      <h3>Detalle de <%= resources.name %>  </h3>
      <p>Altura: <%= resources.height %>  </p>
      <p>Peso: <%= resources.weight %>  </p>
    </div>
    <div class="content">
      <img src="<%= resources.sprites.other.home.front_default %>" alt="Pokemon <%= resources.name %>">
      <canvas id="pokemonChart"></canvas>
         </div>
    <a href="/">back</a>
  </div>
   
 

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const pokemonData =<%-JSON.stringify(resources.stats)%>;
      const ctx = document.getElementById('pokemonChart').getContext('2d');
      const myChart = new Chart(ctx, {
        type: 'radar',
        data: {
          labels: pokemonData.map(pokemon => pokemon.stat.name),
          datasets: [{
            label: 'Stats',
            data: pokemonData.map(pokemon => pokemon.base_stat),
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            r: {
              angleLines: {
                display: false
              },
              suggestedMin: 0,
              suggestedMax: <%= Math.max(...resources.stats.map(pokemon => pokemon.base_stat)) %>
            }
          }
        }

      });
    })

  </script>
</body>

</html>